header {
  width: 100%;
  background: #616161;
  height: 85px;
  display: flex;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content img {
  display: block;
  height: 60px;
}
